---
import type { CollectionEntry } from 'astro:content';
import { blogurl } from '../../utils/url';
import { generateId } from '../../utils/other';
import { Image } from 'astro:assets';
import { layout } from '../../config';
import Label from '../Label.astro';
import Meta from '../MetaWidgets/Meta.astro';
import TimeMeta from '../MetaWidgets/TimeMeta.astro';
import TagsMeta from '../MetaWidgets/TagsMeta.astro';
import 'virtual:dynamic-style:./PostLinkCard.ts/default.css';

export interface Props {
  post: CollectionEntry<'blog'>;
  updateDate?: Date;
  pubDate?: Date;
  description?: string;

  coverPosition?: 'left' | 'right';
}

const {
  coverPosition: coverPositionDefault,
} = layout.component.PostLinkCard;

const {
  post,
  updateDate,
  pubDate,
  description,
  coverPosition = coverPositionDefault,
} = Astro.props;
const { category, tags } = post.data;

const uniqueId = generateId();
---

<a
  href={blogurl.with(post.id)}
  class:list={['card', 'link-card', `cover-at-${coverPosition}`]}
  data-unique-id={uniqueId}
>
  <div class="wrapper">
    <div class="content">
      <Label class="title" style="font-size:28px;">{post.data.title}</Label>
      <div class="metas">
        <TimeMeta icon="mdi:calendar-edit-outline" time={updateDate} />
        <TimeMeta icon="mdi:calendar-outline" time={pubDate} />
        <Meta icon="mdi:category-outline" content={category} />
        <TagsMeta tags={tags} />
      </div>
      <div class="description">{description}</div>
    </div>
    <div class="cover">
      {
        post.data.coverImage && (
          <Image
            src={post.data.coverImage}
            alt={post.data.coverImageAlt ?? 'Cover Image'}
          />
        )
      }
    </div>
  </div>
</a>

<script>
  let clickedCardUid: string | null = null;
  const transitionParts = ['cover', 'title'];

  const restoreAfterTransition = new Map<HTMLElement, string>();
  const setRestore = (element: HTMLElement, value: string) => {
    if (!restoreAfterTransition.has(element)) {
      restoreAfterTransition.set(element, element.style.transform);
    }
  };
  const restore = () => {
    for (const [restoreElement, value] of restoreAfterTransition.entries()) {
      restoreElement.style.viewTransitionName = value;
    }
    restoreAfterTransition.clear();
  };

  document.addEventListener('click', (e) => {
    let el = (e.target as Element).closest('.card.link-card');
    if (!el) {
      return;
    }
    restoreAfterTransition.clear();

    for (const part of transitionParts) {
      const elPart = el.querySelector(`.${part}`) as HTMLElement | null;
      if (!elPart) {
        continue;
      }

      setRestore(elPart, elPart.style.viewTransitionName);
      elPart.style.viewTransitionName = `clicked-${part}`;
    }
    clickedCardUid = el.getAttribute('data-unique-id');
  });

  document.addEventListener('astro:after-preparation', () => {
    if (clickedCardUid) {
    } else {
      for (const part of transitionParts) {
        const transiteFrom = document.querySelector(
          `[data-transite-from-${part}]`,
        ) as HTMLElement | null;
        if (!transiteFrom) {
          return;
        }

        const transiteId = transiteFrom.getAttribute(
          `data-transite-from-${part}`,
        );
        if (!transiteId) {
          return;
        }

        setRestore(transiteFrom, transiteFrom.style.viewTransitionName);
        transiteFrom.style.viewTransitionName = `clicked-${part}`;
      }
    }
  });

  document.addEventListener('astro:before-swap', (e) => {
    if (clickedCardUid) {
      for (const part of transitionParts) {
        const transiteTo = e.newDocument.querySelector(
          `[data-transite-from-${part}]`,
        ) as HTMLElement | null;
        if (!transiteTo) {
          return;
        }

        // Save status
        transiteTo.setAttribute(`data-transite-from-${part}`, clickedCardUid);

        // Set view transition name for new cover element
        setRestore(transiteTo, transiteTo.style.viewTransitionName);
        transiteTo.style.viewTransitionName = `clicked-${part}`;
      }

      e.viewTransition.finished.then(restore);

      clickedCardUid = null;
    } else {
      // Exit from inner page
      for (const part of transitionParts) {
        const transiteFrom = document.querySelector(
          `[data-transite-from-${part}]`,
        ) as HTMLElement | null;
        if (!transiteFrom) {
          return;
        }

        const transiteId = transiteFrom.getAttribute(
          `data-transite-from-${part}`,
        );
        const transiteTo = e.newDocument.querySelector(
          `.card.link-card[data-unique-id="${transiteId}"] .${part}`,
        ) as HTMLElement | null;
        if (!transiteTo) {
          return;
        }

        setRestore(transiteTo, transiteTo.style.viewTransitionName);
        transiteTo.style.viewTransitionName = `clicked-${part}`;

        e.viewTransition.finished.then(restore);
      }
    }
  });
</script>

<style lang="stylus">
  .card.link-card {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: var(--text);
    font-family: var(--font-sans);
    position: relative;
    justify-content: stretch;
    align-items: stretch;

    &:where(.cover-at-left)>.wrapper {
      flex-direction: row-reverse;
    }

    @media (max-width: 1024px) {
      height: auto;
    }
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    flex: 0 0 240px;
    box-sizing: border-box;
    gap: 16px;

    @media (max-width: 1024px) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .content {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 0;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }

  .cover {
    position: relative;
    flex-shrink: 0;
    width: auto;
    max-width: 35%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    @media (max-width: 1024px) {
      width: 100%;
      max-height: 50%;
      max-width: unset;
    }

    >img {
      height: 100%;
      width: 100%;
      flex: 1 0 auto;
      object-fit: cover;
      border-radius: 16px;
      border: 1px solid var(--border);
    }
  }

  .description {
    flex: 1 0 0;
    height: 0;
    width: 100%;
    white-space: pre-line;
    overflow: clip;

    @media (max-width: 1024px) { 
      height: auto;
    }
  }
</style>
