---
import MarkdownWrapper from './MarkdownWrapper.astro';
import Icon from './Icon.astro';
import Heimu from './Heimu.astro';

import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { processPostSync } from '../utils/other';
import TimeMeta from './MetaWidgets/TimeMeta.astro';
import TagsMeta from './MetaWidgets/TagsMeta.astro';
import Meta from './MetaWidgets/Meta.astro';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { category, description, title, tags } = post.data;

const { updateDate, pubDate } = processPostSync(post);

const { Content, headings } = await render(post);

const customComponents = {
  Heimu,
};
---

<div class="post-content">
  <h1 data-transite-from-title class="article-title">{title}</h1>
  <div class="metas">
    <TimeMeta icon="mdi:calendar-outline" time={pubDate} />
    <TimeMeta icon="mdi:calendar-edit-outline" time={updateDate} />
    <Meta icon="mdi:category-outline" content={category} />
    <TagsMeta tags={tags} />
  </div>
  <br />
  <div class="description">描述：{description}</div>
  <hr />
  <MarkdownWrapper>
    <Content components={customComponents} />
  </MarkdownWrapper>
</div>

<style lang="stylus">
  .article-title {
    margin: 0.5rem 0;
  }

  hr {
    margin: 24px -8px
    border-style: dashed;
  }

  .metas {
    color: var(--text);
  }

  .tag {
    border-radius: 4px;
    padding: 2px;
    background-color: var(--primary-container);
  }

  .description {
    margin-top: 16px;
    color: var(--text);
  }
</style>
