---
import MarkdownWrapper from './MarkdownWrapper.astro';
import Icon from './Icon.astro';
import Heimu from './Heimu.astro';

import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { formatInstant } from '../utils/format';

export interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;

const { category, description, title, updateDate, pubDate, tags } = post.data;

const { Content, headings } = await render(post);

const customComponents = {
  Heimu,
};
---

<div class="post-content">
  <h1 class="article-title">{title}</h1>
  {
    pubDate && (
      <time datetime={pubDate.toUTCString()} class="widget-with-icon">
        <Icon src="mdi:calendar" />
        {formatInstant(pubDate)}
      </time>
    )
  }
  {
    updateDate && (
      <time datetime={updateDate.toUTCString()} class="widget-with-icon">
        <Icon src="mdi:calendar-edit-outline" />
        {formatInstant(updateDate)}
      </time>
    )
  }
  {
    category && (
      <div class="widget-with-icon">
        <Icon src="mdi:category-outline" />
        {category}
      </div>
    )
  }
  {
    tags && (
      <div class="widget-with-icon">
        <Icon src="mdi:tag-multiple-outline" />
        {tags.map((tag) => {
          return <div class="tag">{tag}</div>;
        })}
      </div>
    )
  }
  <br />
  <div class="description">描述：{description}</div>
  <hr />
  <MarkdownWrapper>
    <Content components={customComponents} />
  </MarkdownWrapper>
</div>

<style lang="stylus">
  .article-title {
    margin: 0.5rem 0;
  }

  .widget-with-icon {
    font-family: var(--font-monospace);
    display: inline flex;
    align-items: center;
    gap: 6px;
    color: var(--text);
    margin-inline-end: 16px;

    :global(>svg) {
      font-size: 24px;
      background-color: var(--primary-container);
      padding: 5px;
      border-radius: 8px;
    }
  }

  hr {
    margin: 24px -8px
    border-style: dashed;
  }

  .tag {
    border-radius: 4px;
    padding: 2px;
    background-color: var(--primary-container);
  }

  .description {
    margin-top: 16px;
    color: var(--text);
  }
</style>
